.topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  
  .footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(50,50,50);
    color: white;
  }