<div id="popUpYTBG"></div>

<div id="popUpYT">
<div>Test pop up load youtube video with jquery ajax</div>
<div style="text-align: center">
 <iframe width="350" height="250" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen frameborder="0" title="YouTube Video Player" src="https://youtube.com/embed/WW0ncSSTtwo"></iframe>
</div>
</div>

<style>

  #popUpYTBG {
   background: rgba(0,0,0,0.5);
   margin: 0;
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
 }
 
  #popUpYT {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
 }
 
</style>


<script>
  $(document).ready(
    ()=> {
      $('#popUpYTBG').click(
        ()=> {
          $('#popUpYTBG').css('display', 'none');
          $('#popUpYT').css('display', 'none');
        });
  });
</script>

