<div style="color: blue">Hello from test (external content)</div>
<div>Test load youtube video with jquery ajax</div>
<div style="text-align: center">
 <iframe width="350" height="250" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen frameborder="0" title="YouTube Video Player" src="https://youtube.com/embed/CMR7VY5vMOw"></iframe>
</div>
