<div id="topnav" class="topnav">
  <a id="navHome" class="active" href="home-1.html">Home</a>
  <a id="navNews" href="news-1.html">News</a>
  <a id="navGallery" href="gallery-1.html">Gallery</a>
  <a id="navContact" href="contact-1.html">Contact</a>
  <a id="navAbout" href="about-1.html">About</a>
</div>

<script>
$("#navHome").click((e)=> {
  e.preventDefault();
  console.log(e.target);
  location.href = "home-1.html";
  });
  
$("#navNews").click((e)=> {
  e.preventDefault();
  console.log(e.target);
  location.href = "news-1.html";
  });
  
$("#navGallery").click((e)=> {
  e.preventDefault();
  console.log(e.target);
  location.href = "gallery-1.html";
  });

$("#navContact").click((e)=> {
  e.preventDefault();
  console.log(e.target);
  location.href = "contact-1.html";
  });
  
$("#navAbout").click((e)=> {
  e.preventDefault();
  console.log(e.target);
  location.href = "about-1.html";
  });
</script>


