<div id="topnav" class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#gallery">Gallery</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>


