<div id="topnav" class="topnav">
  <a class="active" href="pages/home-1.html">Home</a>
  <a href="pages/news-1.html">News</a>
  <a href="pages/gallery-1.html">Gallery</a>
  <a href="pages/contact-1.html">Contact</a>
  <a href="pages/about-1.html">About</a>
</div>


