<div>This file should not be loaded</div>

<div id="topnav" class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#gallery">Gallery</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  
<style>
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
</style>
</div>
